<div [formGroup]="form">
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="course title"
        formControlName="title"
        #title
      />

      <mat-hint align="end"> {{ title.value.length }} /60 </mat-hint>
      <mat-error *ngIf="form.get('title')?.errors?.titleExists">
        title in use</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="relaseDatePicker"
        placeholder="release date"
        formControlName="releaseDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="relaseDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #relaseDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select formControlName="category" placeholder="select caategroy">
        <ng-container *ngFor="let cat of courseCategories$ | async">
          <mat-option [value]="cat.code">
            {{ cat.description }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox formControlName="downloadAllowed" color="primary">
      Downloaws allowed
    </mat-checkbox>
  </div>

  <div>
    <mat-form-field appearance="outlined">
      <textarea
        matInput
        formControlName="description"
        placeholder="description"
      ></textarea>
    </mat-form-field>
  </div>

  <app-address-form formControlName="address"></app-address-form>
</div>
{{ form.value | json }}
