<fieldset [formGroup]="form">
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="address1"
        formControlName="address1"
        (blur)="onTouched()"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="address2"
        formControlName="address2"
        (blur)="onTouched()"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="zip"
        formControlName="zip"
        (blur)="onTouched()"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="city"
        formControlName="city"
        (blur)="onTouched()"
      />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="country" formControlName="country" />
    </mat-form-field>
  </div>
</fieldset>
{{ form.value | json }}
