<div>
  <label> date </label>
  <input type="datetime" appMask="99/99/9999" />
</div>

<div>
  <label> credit card </label>
  <input type="text" appMask="999 999 999 99" />
</div>

<div>
  <label> phone </label>
  <input type="text" appMask="(99) 999-999" />
</div>
<div>
  <label> VAT </label>
  <input type="text" appMask="AA-999-999-999" />
</div>
<div>
  <label> Text </label>
  <input type="text" />
</div>
