jhjhj
<mat-horizontal-stepper
  class="mat-elevation-z5"
  [linear]="false"
  labelPosition="bottom"
>
  <mat-step [stepControl]="step1.form" errorMessage="first step in error">
    <ng-template matStepLabel>course </ng-template>
    <app-step1 #step1></app-step1>
    <div>
      <button mat-raised-button color="primary" matStepperNext>
        continue step 2
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="step2.form" errorMessage="second step in error">
    <ng-template matStepLabel>course pricing</ng-template>
    <app-step2 #step2></app-step2>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>
        previous
      </button>
      <button mat-raised-button color="primary" matStepperNext>
        continue step 3
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
