<ng-template
  #modalContent
  let-title="title"
  let-loginTabActive="loginTabActive"
>
  {{ title }}
  {{ loginTabActive }}

  <ng-template #alt>
    <div>
      <button (click)="tabPanel.selectTab(signinTab)">login</button>
      <button (click)="tabPanel.selectTab(signupTab)">signup</button>
    </div>
  </ng-template>
  <app-panel #tabPanel [headerTemplate]="alt">
    <app-tab title="sigin" #signinTab> tab 1 </app-tab>
    <app-tab title="signup" #signupTab> tab 2 </app-tab>
  </app-panel>
</ng-template>
<app-modal
  #modal
  [body]="modalContent"
  [context]="{ title: 'login or siginin', loginTabActive: true }"
  *appOpenOnClick="[signin, signup]"
  [hideOnEscape]="true"
  [hideOnClickOutside]="true"
>
  <span (click)="modal.closeModal()">close</span>
</app-modal>
<div>
  <button #signin (click)="setIsLoginActive(true)">sigin</button>
  <button #signup (click)="setIsLoginActive(false)">signup</button>
</div>

<app-form></app-form>

<app-host>
  <app-c1></app-c1>
</app-host>
<app-host>
  <app-c2></app-c2>
</app-host>
<app-adv-form></app-adv-form>
