<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>
<div>
  <mat-form-field>
    <input matInput [disabled]="true" [value]="fileName" />
  </mat-form-field>
  <button
    mat-button
    color="primary"
    (click)="onClick(fileUpload)"
    [disabled]="disabled"
  >
    updload
  </button>
</div>
<mat-progress-bar
  mode="determinate"
  *ngIf="uploadProgress"
  [value]="uploadProgress"
></mat-progress-bar>
