<div [formGroup]="form">
  <div>
    <mat-radio-group formControlName="type">
      <mat-radio-button value="free"> free </mat-radio-button>
      <mat-radio-button value="premium"></mat-radio-button>premiun
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="price"
        formControlName="price"
      />
    </mat-form-field>
  </div>

  <app-file-upload
    formControlName="thumbnail"
    requiredFileType="image/png"
  ></app-file-upload>

  <div>
    <mat-form-field>
      <mat-label>promotional period</mat-label>
      <mat-date-range-input [rangePicker]="promtotionPicker">
        <input
          matStartDate
          placeholder="start"
          formControlName="promoStartAt"
        />
        <input matEndDate placeholder="end" formControlName="promoEndAt" />
        <mat-error *ngIf="form?.errors?.rangeInvalid && form.touched"
          >start date should be
        </mat-error>
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="promtotionPicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #promtotionPicker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
{{ form.value | json }}
{{ form.get("thumbnail").valid }}
