<div class="overlay" (click)="onClickOutsideModal()">
  <div class="body" (click)="cancelClick($event)">
    <div>
      <ng-content select="span"></ng-content>
    </div>
    <ng-container *ngIf="body; else content">
      <ng-container *ngTemplateOutlet="body; context: context"> </ng-container>
    </ng-container>
    <ng-template #content>
      <ng-content></ng-content>
    </ng-template>
  </div>
</div>
