<ng-template #defautTabs>
  <div>
    <button *ngFor="let tab of tabs" (click)="selectTab(tab)">
      {{ tab.title }} default
    </button>
  </div>
</ng-template>
<ng-container
  *ngTemplateOutlet="
    headerTemplate ? headerTemplate : defautTabs;
    context: tabsContext
  "
></ng-container>

<ng-content></ng-content>
